
@{
    Layout = null;
}

<div class="container">
    <br />
    <br />
    <h3>Dolar Alış:@ViewBag.exchangeRateUsd - Dolar Satış:@ViewBag.previouscloseUsd </h3>
    <h3>Euro Alış:@ViewBag.exchangeRateEur - Euro Satış:@ViewBag.previouscloseEur </h3>
</div>
